<ion-view view-title="Bienvenido">
  <ion-content class="padding">

    <div class="bienvenido">
        <p>
        	Nuestra ciudad es una de las que tiene más museos en el mundo. No esperes hasta que sea el Día Internacional de los Museos, que se celebra cada año el 18 de mayo, para visitarlos. Entre la tanta oferta te decimos cuáles son los principales museos que debes conocer si visitas o vives en la CDMX.
        </p>
    		<p>
    			La CDMX también alberga el museo más visitado de todo el país: el Museo Nacional de Antropología, que resguarda una de las colecciones de arte prehispánico más importantes. Sorpréndete con la imponente fuente en el patio central de los hermanos Chávez Morado.
    		</p>
        <img src="img/museo0.jpg">
    </div>
    
  </ion-content>
</ion-view>
